{% extends 'base.html' %}

{% block titulo %}
Detalhesvideos VideoFlix
{% endblock %}

{% block content %}

<div class="py-28">
    <h1>Detalhes do vídeo: {{ object.titulo }}</h1>
    <p>{{ object.descricao }}</p>
    <p>Visualizações: {{ object.visualizacoes }}</p>
    <img class="w-1/2 h-auto mx-auto my-auto" src="{{ object.thumb.url }}">

    <h2>Episódios:</h2>
    {% for episodio in object.episodios.all %}
    <a href="{{ episodio.video }}">
        <p>{{ forloop.counter }}: {{ episodio.titulo }}</p>
    </a>
    {% endfor %}

</div>

<div class="py-28">
    <h2>Vídeos relacionados:</h2>
    {% for video in videos_relacionados %}
    <p>
        <a href="{% url 'video:detalhesvideos' filme.pk %}">
            {{ video.titulo }}
        </a>
    </p>
    {% endfor %}
</div>

{% endblock %}>